/* .grid-system .item {
    position: relative;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    width: 100%;
    border: 3px solid 000;
    overflow: hidden;
    border-radius: 10px;
} */
/* .grid-system {
  overflow: auto;

 } */
.grid-system .itemLayer{
  padding: 15px 25px;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 0px 10px #0808083b;
  border-radius: 10px;
  max-width: 220px;
  min-height: 210px;
  margin: auto;
  
}
.grid-system .itemLayer button{
  right: 0;
}
.grid-system .itemLayer button svg{
  font-size: 30px;
  /* color: #37b9d7; */
  color: #0d6efd;

}
  .grid-system .itemLayer img {
    width: 100%;
    background-color: transparent;
    height: auto;
  }
.ribbon_badge{
  position: absolute;
    /* z-index: 2000; */
    line-height: 2em;
    display: block;
    width: 10em;
    color: #fff;
    height: 2.5em;
    text-align: center;
    text-decoration: none;
    transform: translate(-32px, 18px) rotate(-45deg);
    top: 0;
    left: 0;
    filter: drop-shadow(0 4px 7px rgba(0,0,0,0.4));
}
.ribbon_badge::after{
  content: "";
    position: absolute;
    z-index: -1;
    /* background-color: #37b8d6; */
    background-color: #0d6efd;
    /* background-color: #066a46; */
    border-bottom: 0.5em solid #00677e;
    transition: background-color 0.2s ease-in-out;
    inset: 0;
    clip-path: polygon(2em 0, 8em 0, 10em 2em, 10em 2.5em, 9.5em 2em, 0.5em 2em, 0 2.5em, 0 2em);
    background-image: linear-gradient(to top, rgb(66 66 66 / 37%), rgb(0 0 0 / 8%) 1.25em);
}

.template_img{
  /* overflow-x: hidden; */
  height: calc(100vh - 190px);
}

.ribbon_badge_inactive{
  position: absolute;
    /* z-index: 2000; */
    line-height: 2em;
    display: block;
    width: 10em;
    color: #fff;
    height: 2.5em;
    text-align: center;
    text-decoration: none;
    transform: translate(-32px, 18px) rotate(-45deg);
    top: 0;
    left: 0;
    filter: drop-shadow(0 4px 7px rgba(0,0,0,0.4));
}
.ribbon_badge_inactive::after{
  content: "";
    position: absolute;
    z-index: -1;
    background-color: #cb2222;
    border-bottom: 0.5em solid #cb2222;
    transition: background-color 0.2s ease-in-out;
    inset: 0;
    clip-path: polygon(2em 0, 8em 0, 10em 2em, 10em 2.5em, 9.5em 2em, 0.5em 2em, 0 2.5em, 0 2em);
    background-image: linear-gradient(to top, rgb(66 66 66 / 37%), rgb(0 0 0 / 8%) 1.25em);
}
  .grid-system .itemLayer .editNftImage {
    width: 100%;
    background-color: transparent;
    height: auto;
    margin-top: 44px;
  }

  .grid-system .itemLayer .card_upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid-system .itemLayer .card_upload img{
    width: 50px;
  }
 .grid-system .card_text{
  text-align: center;
  font-size: 16px;
  margin: 10px 0 0;

 }
  .download{
    opacity: 0;
    right: 0;
    position: absolute;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }
  .itemLayer:hover  .download {
    opacity: 1;
  }
  .grid-system .itemLayer img:hover{
    border: none !important;
  }
  .grid-system .itemLayer:hover{
  /* border: 1px solid #646464; */
  box-shadow: 0px 0px 10px #08080863;
  }
  .fullDiv{
    /* background-color: rgb(232,232,232); */
    padding: 0px 20px;
  }
  /* .nav{
    color: black;
    background-color: transparent;
  } */
   .nav:hover{
    color: blue;
    border-bottom: 1px solid blue;

    color: blue;
    /* text-decoration: underline */
  }
  .dwnldBtn{
    padding: 12px;
    font-size: 16px;
    width: 180px;
    margin-right: 20px;
  }
  /* .item:hover img{
    opacity: 0.5;
  } */
  .custom-nav {
    /* border: 1px solid #000; */
    overflow: hidden;
  }
  .custom-nav  .nav-link {
    padding: 17px 17px !important;
    font-size: 25px;
}
.custom-nav  .nav-link:hover,.custom-nav  .nav-link.active {
    /* background-color: #fff; */
    color: #000;
}
.col-xl-1.mt-2 {
    width: 13% !important;
}
.grid-system .itemLayer img {
    border-radius: 10px !important;
}

/* .card-body{
    border: 2px solid black !important;
} */
.cardImage{
    margin-top: 20px;
    overflow: auto;
}

.card-body{
  overflow: auto;
}
@media screen and (min-width:1600px) {
  .nftTemplateCard {
    width: 20%;
  }
}