.featureCard{
    border: 1px solid black;

}
.card .featureTitle{
    font-size: 20px ;
    font-weight: 400 ;
  } 

  .card{
    --bs-card-border-width: 1px !important;
    --bs-card-border-color: #efe5e5 !important;
  }
  .card .card-body{
    font-size: 14px;
  }
  .editPackage:hover,.editPackage:focus,.editPackage:active{
    border: none !important;
    outline: none !important;
  }
  .featureEdit{
    width: 20%;
    margin-left: auto;
    text-align: center;
    /* padding: 0.47rem 0.75rem; */
    /* font-size: 0.8125rem; */
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-gray-700);
    background-color: var(--bs-custom-white);
    background-clip: padding-box;
    border: 1px solid var(--bs-input-border-color);
    appearance: none;
    border-radius: 0.25rem;
  }