.profileBtn{
    /* background-color: #37b9d7 !important; */
    color: aliceblue !important;

}


.passwordEye{
    padding:"9px" !important;
    margin-right:"5px" !important
    /* border-color: #37b9d7 !important; */
    /* color:#37b9d7 !important */

}
